rules:
- rule:
  - color: yellow
    engine: nfa
    loaded: true
    name: shiro
    regex: (=deleteMe|rememberMe=)
    scope: any
  - color: red
    engine: nfa
    loaded: true
    name: jwt
    regex: (ey[A-Za-z0-9_-]{10,}\.[A-Za-z0-9._-]{10,}|ey[A-Za-z0-9_\/+-]{10,}\.[A-Za-z0-9._\/+-]{10,})
    scope: any
  - color: orange
    engine: nfa
    loaded: true
    name: mobile
    regex: '[^0-9A-Za-z](1(3([0-35-9]\d|4[1-8])|4[14-9]\d|5([\d]\d|7[1-79])|66\d|7[2-35-8]\d|8\d{2}|9[89]\d)\d{7})[^0-9A-Za-z]'
    scope: response
  - color: green
    engine: nfa
    loaded: true
    name: idCard
    regex: '[^0-9]((\d{8}(0\d|10|11|12)([0-2]\d|30|31)\d{3}$)|(\d{6}(18|19|20)\d{2}(0[1-9]|10|11|12)([0-2]\d|30|31)\d{3}(\d|X|x)))[^0-9]'
    scope: response
  - color: cyan
    engine: nfa
    loaded: true
    name: ssrf
    regex: '([^Referer](=|(: ?[''\"]))(https?://.*|https?%3(a|A)%2(f|F)%2(f|F).*))'
    scope: request body
  - color: gray
    engine: nfa
    loaded: true
    name: something
    regex: ((cmd=)|(exec=)|(command=)|(execute=)|(ping=)|(url=)|(link=)|(target=)|(file=)|(jump=)|(do=)|(func=)|(arg=)|(read=)|(exe=)|(module=)|(payload=)|(run=)|(daemon=)|(upload=)|(dir=)|(download=)|(log=)|(ip=)|(cli=))
    scope: request
  - color: blue
    engine: nfa
    loaded: true
    name: email
    regex: '(: ?(''|\")([a-zA-Z0-9]+[_|\.])*[a-zA-Z0-9]+@([a-zA-Z0-9][-|_|\.])*[a-zA-Z0-9]+\.((?!js|css|jpg|jpeg|png|ico)[a-zA-Z]{2,})(''|\"))'
    scope: response
  - color: pink
    engine: nfa
    loaded: true
    name: ssrf2
    regex: (^(POST|GET|PUT) \/.*=https?:)
    scope: request header
  type: Basic Information
